a:link
{
    color:tomato;
}

a:visited
{
    color:yellow;
}

.topnav
{
    background-color: rgb(88, 88, 88);
    overflow: hidden;
}

.topnav a 
{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover 
{
    background-color: white;
    color: black;
}

.topnav a.active 
{
    background-color: #fcc417;
    color: black;
}

body
{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color:rgb(39, 39, 39);
    color:white;
    font-family:cursive
}

#main
{
    max-width: 940px;
    padding: 0 5px 5px 5px;
    margin: 0 auto;
    background-color:rgb(71, 71, 71);
}

